
- if flash[:success]
  #error-alert.alert.fade.in.alert-success
    %div.close-alert{:type => "button"} x
    %h4#alert-message
      = flash[:success]

.row
  .col-lg-12
    %h1.page-header
      Examenes disponibles

    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Nombre
          %th Descripcion
          %th Inicia
          %th Termina
          %th

      %tbody
        - @tests.each do |test|
          %tr
            %td= test.name
            %td= test.description
            %td= test.begins_at
            %td= test.ends_at
            - if user_signed_in?
              %td= link_to 'Hacer', test,class:"btn btn-default"
            - else
              %td
                %i Inicie Sesion para hacer

