%p#notice= notice

%div.test-paper
  %a.btn.btn-default.pull-right#save-answers
    Guardar
  %input#test-id.hidden{value:"#{@test.id}"}
  %input#user-id.hidden{value:"#{current_user.id}"}
  %p
    %b Nombre:
    = @test.name
  %p
    %b Descripcion:
    = @test.description
  %p
    %b Inicia:
    = @test.begins_at
  %p
    %b Termina:
    = @test.ends_at
  %p
    %b Estudiante:
    = current_user.name

  - cnt = 1
  - @questions.each do |question|
    %h5.question-header
      = cnt
      \-
      = question.title
      %input.hidden{name:"question-id",value:"#{question.id}"}
    %ul.answer-list
      %li
        %input{:class => "answer-q#{cnt}", :type => "#{question.type}",name:"user-answer#{cnt}",value:"choice1"}
        = question.choice1
      %li
        %input{:class => "answer-q#{cnt}", :type => "#{question.type}",name:"user-answer#{cnt}",value:"choice2"}
        = question.choice2
      %li
        %input{:class => "answer-q#{cnt}", :type => "#{question.type}",name:"user-answer#{cnt}",value:"choice3"}
        = question.choice3
      %li
        %input{:class => "answer-q#{cnt}", :type => "#{question.type}",name:"user-answer#{cnt}",value:"choice4"}
        = question.choice4
    - cnt+=1
  %a.btn.btn-default#score-test Enviar

